<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-2">
        <a class="nav-link">
          <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#mdCreate">
            <i class="far fa-plus-square"></i> Add Contract
          </button>

        </a>

      </div>

      <div class="col-8 text-center">
      </div>
      <div class="col-2 text-right">
        <!--        <a class="nav-link">-->
        <!--          <button type="button" class="btn btn-outline-primary"-->
        <!--                  data-toggle="modal" data-target="#mdSearch">Search <i class="fas fa-search"></i>-->
        <!--          </button>-->
        <!--        </a>-->
      </div>
    </div>
    <div class="row">
      <table class="table table-striped table-inverse table-responsive"
             style="display: inline-block; width: 100%; overflow-x: auto">
        <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Employee</th>
          <th>Service</th>
          <th>Start Day</th>
          <th>End Day</th>
          <th>Deposit</th>
          <th>Total Money</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contract of contractList | paginate: { itemsPerPage: 5, currentPage: p };index as i">
          <td>{{contract.id}}</td>
          <td>{{contract.customer.name}}</td>
          <td>{{contract.employee.name}}</td>
          <td>{{contract.service.name}}</td>
          <td>{{contract.startDate}}</td>
          <td>{{contract.endDate}}</td>
          <td>{{contract.deposit}}</td>
          <td>{{contract.total}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col-6 text-right">

      </div>
    </div>
  </div>
</div>
<!--buton Paging-->
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<!-- Modal Create -->
<div class="modal fade" id="mdCreate" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:dodgerblue"><span>Add New Customer</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contractForm">
          <div>Customer</div>
          <select formControlName="customer" class="form-control">
            <option value="">--</option>
            <option *ngFor="let cus of customerList" [ngValue]="cus">{{cus.name}}</option>
          </select>
          <div *ngIf="!customer.valid && (customer.pristine ||customer.dirty||customer.touched)">
            <div style="color:red" [hidden]="!customer.errors.required">Customer is required !</div>
          </div>
          <div>Employee</div>
          <select formControlName="employee" class="form-control">
            <option value="">--</option>
            <option *ngFor="let employee of employeeList" [ngValue]="employee">{{employee.name}}</option>
          </select>
          <div *ngIf="!employee.valid && (employee.pristine ||employee.dirty||employee.touched)">
            <div style="color:red" [hidden]="!employee.errors.required">Employee is required !</div>
          </div>
          <div>Service</div>
          <select formControlName="service" class="form-control">
            <option value="">--</option>
            <option *ngFor="let ser of serviceList" [ngValue]="ser">{{ser.name}}</option>
          </select>
          <div *ngIf="!services.valid && (services.pristine ||services.dirty||services.touched)">
            <div style="color:red" [hidden]="!services.errors.required">Employee is required !</div>
          </div>
          <div>Start Day</div>
          <input class="form-control" type="date" formControlName="startDate">
          <div *ngIf="!startDate.valid && (startDate.pristine ||startDate.dirty||startDate.touched)">
            <div style="color:red" [hidden]="!startDate.errors.required">Start Date is required !</div>
            <div style="color:red" [hidden]="!startDate.errors.pattern">Wrong format Date ( Ex: dd-mm-yyyy) !</div>
            <div style="color:red" [hidden]="!startDate.hasError('errFuture')">Start Date must be in future !</div>

          </div>
          <div>End Day</div>
          <input class="form-control" type="date" formControlName="endDate">
          <div *ngIf="!endDate.valid && (endDate.pristine ||endDate.dirty||endDate.touched)">
            <div style="color:red" [hidden]="!endDate.errors.required">End Date is required !</div>
            <div style="color:red" [hidden]="!endDate.errors.pattern">Wrong format Date ( Ex: dd-mm-yyyy) !</div>
            <div style="color:red" [hidden]="!endDate.hasError('errFuture')">End Date must be in future !</div>

          </div>
          <div style="color:red" [hidden]="!contractForm.hasError('errStartEnd')">End Date must be in future
            of start date !
          </div>
          <div>Deposit</div>
          <input class="form-control" type="number" formControlName="deposit">
          <div *ngIf="!deposit.valid && (deposit.pristine ||deposit.touched)">
            <div style="color:red" [hidden]="!deposit.errors.required">Salary is required !</div>
            <div style="color:red" [hidden]="!deposit.errors.pattern">Salary must be number !</div>
            <div style="color:red" [hidden]="!deposit.hasError('errorNumber')">Deposit must be greater than 0 !
            </div>
          </div>
          <br>
          <div class="btnGroup">
            <button type="button" class="btn btnEdit btn-secondary" data-dismiss="modal">Close</button>
            <button (click)="createContract()" [disabled]="!contractForm.valid" data-dismiss="modal" type="button"
                    class="btnEdit btn btn-primary">Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
