
<!--<div class="row">-->
<!--  <div class="col-12">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-primary">-->
<!--      <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="/home"><img style="width: 100px" height="50px" class="img-fluid"-->
<!--                                                  src="https://i.imgur.com/t2hf7LR.jpg" alt=""></a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"-->
<!--                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarScroll">-->
<!--          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="&#45;&#45;bs-scroll-height: 100px;">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link text-light" href="https://furamavietnam.com/vi/the-resort/">Introduce</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link text-light" href="https://furamavietnam.com/vi/culinary/">Food</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link text-light" href="https://furamavietnam.com/vi/spa-and-fitness/">SPA</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link text-light" href="https://furamavietnam.com/vi/spa-and-fitness/">Conferences and-->
<!--                events</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link text-light" href="https://furamavietnam.com/vi/spa-and-fitness/">Entertaiment</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link text-light" href="https://furamavietnam.com/vi/spa-and-fitness/">Destination</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link text-light" href="https://furamavietnam.com/vi/spa-and-fitness/">Entertaiment</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link text-light" href="https://furamavietnam.com/vi/spa-and-fitness/">Voucher</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--          <form class=" ">-->
<!--            <button style="height: 40px; right: 25px" class=" btn btn-outline-light" type="button">Login</button>-->
            <!--                    <sec:authorize access="isAuthenticated()">-->
            <!--                        Welcome Back, <sec:authentication property="name"/>-->
            <!--                    </sec:authorize>-->
            <!--          <h3><span sec:authorize="isAuthenticated()">Welcome, </span><span sec:authorize="isAuthenticated()" sec:authentication="name"></span></h3>-->
            <!--          <a sec:authorize="!isAuthenticated()" href="/login">-->
            <!--            <button style="height: 40px;" class=" btn btn-outline-light" type="button">Login</button>-->
            <!--          -->
            <!--          </a>-->
            <!--          <a sec:authorize="isAuthenticated()" href="/logout">-->
            <!--            <button style="height: 40px;" class=" btn btn-outline-light" type="button">Logout</button>-->
            <!--          </a>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </div>-->
<!--</div>-->
<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee">Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customer" >Customer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/service">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contract">Contract</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contractDetail">Contract Detail</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/customerUsing">Customer Using Service</a>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
<!--          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
          <button class="btn btn-outline-light my-2 my-sm-0">Login</button>
        </form>
      </div>
      <div style="position: relative">
        <div class="pyro">
          <div class="before"></div>
          <div class="after"></div>
        </div>
      </div>
    </nav>
  </div>
</div>








